.registration-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 5rem;
    min-height: 200px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    max-height: 100px;
}